{% extends 'base.html' %} {% block content %}

<div class="row">
  <!-- Left Sidebar -->
  {% include 'dashboard/sidebar.html' %}

  <!-- Right Sidebar -->
  <div class="col-md-9">
    <h3>All Posts</h3>
    <a href="{% url 'add_post' %}" class="btn btn-dark text-light float-right mb-2">Add New</a>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>o</th>
          <th>Title</th>
          <th>Category</th>
          <th>Author</th>
          <th>Status</th>
          <th>Featured</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for post in posts %}
        <tr>
          <th>{{ forloop.counter }}</th>
          <td>{{ post.title }}</td>
          <td>{{ post.category }}</td>
          <td>{{ post.author }}</td>
          <td>{{ post.status }}</td>
          <td>{% if post.is_featured %}<i class="fas fa-check text-success">{% else %}<i class="fas fa-times text-danger">{% endif %}</td>
          <td>
            <a href="{% url 'edit_post' post.id %}"><i class="fas fa-edit text-success"></i></a>&nbsp;
            <a href="{% url 'delete_post' post.id %}"><i class="fas fa-trash text-danger"></a></i>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
