{% extends 'base.html' %} {% block content %}

<div class="row">
  <!-- Left Sidebar -->
  {% include 'dashboard/sidebar.html' %}

  <!-- Right Sidebar -->
  <div class="col-md-9">
    {% if perms.auth.view_user %}
    <h3>All Users</h3>
    <a href="{% url 'add_user' %}" class="btn btn-dark text-light float-right mb-2">Add User</a>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>o</th>
          <th>Full Name</th>
          <th>Username</th>
          <th>Email</th>
          <th>Active</th>
          <th>Staff</th>
          <th>Superuser</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <th>{{ forloop.counter }}</th>
          <td>{{ user.first_name }} {{ user.last_name }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>{% if user.is_active %}<i class="fas fa-check text-success">{% else %}<i class="fas fa-times text-danger">{% endif %}</td>
          <td>{% if user.is_staff %}<i class="fas fa-check text-success">{% else %}<i class="fas fa-times text-danger">{% endif %}</td>
          <td>{% if user.is_superuser %}<i class="fas fa-check text-success">{% else %}<i class="fas fa-times text-danger">{% endif %}</td>
          <td>
            <a href="{% url 'edit_user' user.id %}"><i class="fas fa-edit text-success"></i></a>&nbsp;
            <a href="{% url 'delete_user' user.id %}"><i class="fas fa-trash text-danger"></a></i>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <h5>You do not have permission to view this page</h5>
    {% endif %}
  </div>
</div>

{% endblock %}
